page-schedule {
    .header {
        .list-ios{
            margin: 0;
        }
        .list-header-md {
            margin-bottom: 0;
        }
    }
    .item{
        padding: 0;
    }
    .label{
        margin-right:0;
    }
    .col {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .calendar-row {
        .col {
            flex: 0 0 14.28571%;
            width: 14.28571%;
            max-width: 14.28571%;
        }
    }
    .date{
        padding: .9rem 0;
        
        font: 1rem;
        font-weight: $font-weight-thin;
        ion-col{
            padding: 0;
            &:first-child{
                color: color($colors, primary);
            }
            &:last-child{
                color: color($colors, primary);
            }
        }
    }
    .month{
        font-size: $font-size-l;
        color: color($colors,primary);
        padding: 1rem;
    }
    
    .date-list {
        margin: 0;
    }
    .swiper-slide {
        align-items: flex-start;
    }
    .item-md{
        background: color($colors,secondary);
    }
    .calendar-row{
        ion-col{
            font-size: $font-size-n;
        }
    }
    .dot{
        background: color($colors,gray);
        border-radius: 50%;
        width: .6rem;
        height: .6rem;
        position: absolute;
        top: 90%;
    }
}
