page-rental-space {
    .list-header-md{
        padding: 0 1.6rem;
    }
    ion-list-header{
        .label{
            display: flex;
            div{
                flex: 1;
                &:last-child{
                    text-align: right;
                }
            }
        }
   }
   .img {
       div{
           padding: 1rem 0;
           &:first-child{
            width: 50%;
           }
           width: 70%;
           margin: auto;
       }
   }
   .comming{
       border: 1px solid color($colors, third);
       height: 100%;
       width: 80%;
       padding: 3rem;
       margin: 3rem auto;
       text-align: center;
       color: color($colors,third);
       font-size: $font-size-xl;
       opacity: .5;
       
   }
}
