<ion-header>
  <ion-toolbar>
    <button ion-button left menuToggle>
      <ion-icon name="ios-menu"></ion-icon>
    </button>
    <ion-title><h1>일정 취소 리스트</h1></ion-title>
    <button ion-button end right><ion-icon name="search"></ion-icon></button>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-list *ngFor="let reservation of removedReservations; let i = index;">
      <ion-list-header *ngIf="i === 0"> {{ reservation.startDate }} </ion-list-header>
      <ion-list-header *ngIf="i !== 0 && removedReservations[i-1].startDate !== reservation.startDate"> {{ reservation.startDate }} </ion-list-header>
      <ion-item navPush="schedule-detail" [navParams]="reservation">
        <div class="time">
          <div>{{ reservation.startTime }}</div>
          <div>{{ reservation.endTime }}</div>
        </div>
        <div class="item-content">
          <div>
            <span lang="en">{{ reservation.space }}</span
            >{{ reservation.title }}
          </div>
          <div>{{ reservation.content }}</div>
        </div>
      </ion-item>
  </ion-list>
</ion-content>
