page-main {
    ion-header{
        border: unset;
        background-image: unset;
        .toolbar-background-ios{
            background: unset;
            border: none !important;
        }
        
    }
    .container{
        background: color($colors,danger);
        text-align: center;
        ion-row{
            ion-col{
                img{
                    max-width: 50rem;
                    width: 50%;
                    padding: 8rem 0 5rem 0;
                    @media screen and (max-width : 320px){
                        padding: 5rem 0 ;
                    }
                }
            }
        }
        div{
            padding: 2rem 0;
            color: color($colors,primary);
            font-weight: $font-weight-thin;
            
        }
    }
}
