page-main {

    ion-header{
        border: unset;
        background-image: unset;
        .toolbar-background-ios{
            background: unset;
            border: none !important;
        }
        .h1 {
            margin: 0;
            color: color($colors,primary);
            font-size: 1.8rem;
            font-weight: 300;
          }
    }
    .container{
        background: color($colors,primary);
        text-align: center;
        ion-row{
            ion-col{
                img{
                    max-width: 50rem;
                    width: 50%;
                    padding: 8rem 0 5rem 0;
                    @media screen and (max-width : 320px){
                        padding: 5rem 0 ;
                    }
                }
            }
        }
        div{
            padding: 2rem 0;
            color: color($colors,secondary);
            font-weight: $font-weight-thin;
            
        }
    }
}
