<div class="action-select-container">
  <ion-row class="plan-buttons">
    <ion-col>
      <button ion-button block outline (click)="addPlan('LS')">LS</button>
    </ion-col>
    <ion-col>
      <button ion-button block outline (click)="addPlan('LLT')">LLT</button>
    </ion-col>
    <ion-col>
      <button ion-button block outline (click)="addPlan('SV')">SV</button>
    </ion-col>
  </ion-row>
  <div *ngFor="let reservation of reservations">
    <ion-list *ngIf="!reservation.isRemovedReservation && activeDate(reservation)">
      <ion-list-header> {{ reservation.startDate }} </ion-list-header>
      <ion-item (click)="openDetail(reservation)">
        <div class="time">
          <div>{{ reservation.startTime }}</div>
          <div>{{ reservation.endTime }}</div>
        </div>
        <div class="item-content">
          <div>
            <span lang="en">{{ reservation.space }}</span> {{ reservation.title }}
          </div>
          <div>{{ reservation.content }}</div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</div>