page-schedule-list {
    .action-select-container {
        
    }
    .plan-buttons {
        padding: 0 0.8rem;
    }
    ion-item{
        .label{
            display: flex;
            justify-items: center;
            line-height: 2rem;
            margin: 1rem 0;
            .time{
                position: relative;
                border-left: .5rem solid color($colors , primary);
                font-weight: $font-weight-thin;
                padding: .6rem 0 .6rem 1.5rem;
                div:nth-child(2){
                    font-weight: inherit;
                    font-size: $font-size-s;
                    color: color($colors, third);
                }
            }
            .item-content{
                padding: .6rem 0 .6rem 1.5rem;
                flex: 1;
                margin-left: 2.5rem;
                font-weight: $font-weight-thin;
                span{
                    color: color($colors,primary);
                    font-weight: $font-weight-bold;
                }
                div{
                    flex: 1;
                    height: 20px;
                }
                div:nth-child(2){
                    font-size: $font-size-s;
                    color: color($colors, third);
                }
            }
        }
    }
}
