page-main {
    ion-header{
        border: unset;
        background-image: unset;
        .toolbar-background-ios{
            background: unset;
            border: none !important;
        }
        
    }
    .container{
        text-align: center;
        ion-row{
            ion-col{
                img{
                    max-width: 50rem;
                    width: 50%;
                    padding: 8rem 0;
                    @media screen and (max-width : 320px){
                        padding: 5rem 0 ;
                    }
                }
            }
        }
        div{
            padding: 5rem 0;
            color: #f49ac1;
            font-weight: $font-weight-regular;
            @media screen and (max-width : 320px){
                padding:0 0 5rem 0;
            }
        }
    }
}
