page-customer-note {
    ion-label{
        display: flex;
        div:first-child{
            flex: 3;
        }
        div:nth-child(2){
            flex: 1;        
            text-align: right;
        }
        div:last-child{
            flex: 1;
            text-align: right;
        }
    }
    .header{
        border-bottom: .01rem solid color($colors, third) !important;
    }
    .item-inner{
        border-bottom: .01rem solid color($colors, third) !important;
    }
}
