page-customer-note-detail {
    
    .list-bar{
        display: flex;
        div{
            flex: 1;
            &:last-child{
                text-align: right;
            }
        }
    }
.note-title{
        text-align: left !important;
}
  .note-detail{
      padding-left: 1.6rem;
      font-size: $font-size-n;
      white-space: pre-wrap;
  }
  ion-content{
      position: relative;
  }
  .item-md{
      padding: 0;
  }
  .item-inner{
      padding: 0 !important;
  }
  .content-footer{
      width: 100%;
    //   border-top: 1px solid color($colors, gray);
      
      display: flex;
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: $font-size-n;
      div{
          padding: 2rem 2.5rem;
          flex: 1
      }
      div:nth-child(2){
        padding: 2rem 2rem;
        text-align: right;
        color :color( $colors , primary);
      }
  }
  .note-title{
      width: 90%;
      text-align: center;
      font-size: $font-size-l;
      font-weight: $font-weight-bold;
      margin: 2rem auto;
      border-bottom: 1px solid color($colors, third);
      .label{
          padding:0 0  2rem 0;
      }
  }
  .ion-ios-create-outline{
      color: color($colors,primary);
      font-size: $font-size-xl;
  }
  .ion-ios-chatboxes-outline{
    font-size: $font-size-xl;
  }
  ion-item{
      .label{
          border-bottom: 1px solid color($colors, third);
          margin: auto;
          .item-inner{
              padding: 0;
          }
      }
  }
  .list-header-md{
      padding : 0 1.6rem ;
  }
  .label-md{
      margin: 0;
  }
  
}
