page-customer-note-detail {
    
    .list-bar{
        display: block;
        align-items: flex-end;
    }
  .note-detail{
      padding-left: 1.6rem;
      font-size: $font-size-n;
  }
  ion-content{
      position: relative;
  }
  .content-footer{
      width: 100%;
    //   border-top: 1px solid color($colors, gray);
      
      display: flex;
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: $font-size-n;
      div{
          padding: 2rem 2.5rem;
          flex: 1
      }
      div:nth-child(2){
        padding: 2rem 2rem;
        text-align: right;
        color :color( $colors , danger);
      }
  }
  .note-title{
      width: 90%;
      text-align: center;
      font-size: $font-size-l;
      font-weight: $font-weight-bold;
      margin: 2rem auto;
      border-bottom: 1px solid color($colors, third);
      .label{
          padding:0 0  2rem 0;
      }
  }
  .ion-ios-create-outline{
      color: color($colors,danger);
      font-size: $font-size-xl;
  }
  .ion-ios-chatboxes-outline{
    font-size: $font-size-xl;
  }
  ion-item{
      .label{
          border-bottom: 1px solid color($colors, third);
          margin: auto;
          .item-inner{
              padding: 0;
          }
      }
  }
}
