page-schedule-reservation {
    ion-list-header{
        .label{
            font-size: $font-size-s;
        }
    }
   
   ion-item{
    .label{
        display: flex;
        justify-items: center;
        line-height: 2rem;
        .floor{
            flex : 1;
            #selctFloor{
                border: unset;
                font-weight: $font-weight-bold;
                outline: unset;
                option{
                    border: unset;
                }
            }
        }
        .manager{
            flex: 1;
            span{
                font-weight: $font-weight-bold;
            }
        }
        .time{
            position: relative;
           flex: 1;
            div:nth-child(2){
                font-size: $font-size-s;
                color: color($colors, gray);
            }
            
        }
        .item-content{
            flex: 1;
            div{
                flex: 1;
            }
            div:nth-child(2){
                font-size: $font-size-s;
                color: color($colors, gray);
            }
        }
    }
   }
    
}