page-customer-list-detail {
   .name-info{
        
     
       .label{
        border-bottom: 1px solid color($colors,third);
        padding: 3rem 0;
        font-size: $font-size-n;
        font-weight: $font-weight-thin;
        color: color($colors, third);
        margin: 0 auto;
        strong{
            color: color($colors,dark);
            font-size: $font-size-l;
            font-weight: $font-weight-thin;
        }
       }
       
   }
   .num-line{
       margin: 1rem 0;
       .label{
        display: flex;
        div{
            &:first-child{
                flex: 9;
                font-size: $font-size-n;
            font-weight: $font-weight-thin;
            }
        }
       }
       
   }





    ion-footer{
        border-top: 1px solid color($colors, primary) !important; 
        button{
            &:hover{
                background: color($colors ,primary);
            }
        }
        button:first-child{
            border-right: 1px solid color($colors, primary); 
        }
    }
    

    .history{
        .label{
            display: flex;
            justify-items: center;
            line-height: 2rem;
            margin: 1rem 0;
            .time{
                position: relative;
                border-left: .5rem solid color($colors , danger);
                font-weight: $font-weight-thin;
                padding: .6rem 0 .6rem 1.5rem;
                div:nth-child(2){
                    font-size: $font-size-s;
                    color: color($colors, third);
                    font-weight: inherit;
                }
            }
            .item-content{
                padding: .6rem 0 .6rem 1.5rem;
                flex: 1;
                margin-left: 2.5rem;
                font-weight: $font-weight-thin;
                span{
                    color: color($colors,primary);
                    font-weight: $font-weight-bold;
                }
                div{
                    flex: 1;
                    height: 20px;
                }
                div:nth-child(2){
                    font-size: $font-size-s;
                    color: color($colors, third);
                }
            }
        
        }
        
    }
}
