page-customer-list-detail {
   .name-info{

       .label{
        border-bottom: 1px solid color($colors,third);
        padding: 3rem 0;
        font-size: $font-size-n;
        font-weight: $font-weight-thin;
        color: color($colors, third);
        margin: 0 auto;
        strong{
            color: color($colors,dark);
            font-size: $font-size-l;
            font-weight: $font-weight-thin;
        }
       }
       
   }
   .num-line{
       margin: 2rem 0;
       .label{
        display: flex;
        div{
            &:first-child{
                flex: 9;
                font-size: $font-size-n;
            font-weight: $font-weight-thin;
            }
        }
       }
       
   }





    ion-footer{
        border-top: 1px solid color($colors, danger) !important; 
        button{
            &:hover{
                background: color($colors ,danger);
            }
        }
        button:first-child{
            border-right: 1px solid color($colors, danger); 
        }
    }
}
