page-reservation-list {
    
    ion-item{
        .item-inner{
           
        }
        .label{
            display: flex;
            justify-items: center;
            line-height: 2rem;
            margin: 1rem;
            .time{
                position: relative;
                border-left: .7rem solid color($colors , primary);
                font-weight: $font-weight-thin;
                padding: .6rem 0 .6rem 1.5rem;
                div:nth-child(2){
                    font-weight: inherit;
                    font-size: $font-size-s;
                    color: color($colors, third);
                }
            }
            .item-content{
                padding: .6rem 0 .6rem 1.5rem;
                justify-items: center;
                align-items: center;
                flex: 1;
                margin-left: 2.5rem;
                font-weight: $font-weight-thin;
                span{
                    color: color($colors,primary);
                    font-weight: $font-weight-bold;
                }
                div{
                    flex: 1;
                }
                div:nth-child(2){
                    font-size: $font-size-s;
                    color: color($colors, third);
                }
            }
        }
    }
    
}
