<ion-header>
  <ion-toolbar>
    <button ion-button left menuToggle>
      <ion-icon name="ios-menu"></ion-icon>
    </button>
    <ion-title>
      <h1>예약완료 리스트</h1>
    </ion-title>
    <button ion-button end right>
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>
<ion-content padding #content>
  <div *ngFor="let reservation of reservations">
    <ion-list *ngIf="!reservation.isRemovedReservation">
      <ion-list-header> {{ reservation.startDate }} </ion-list-header>
      <ion-item navPush="schedule-detail" [navParams]="reservation">
        <div class="time">
          <div>{{ reservation.startTime }}</div>
          <div>{{ reservation.endTime }}</div>
        </div>
        <div class="item-content">
          <div>
            <span lang="en">{{ reservation.space }}</span>{{ reservation.title }}
          </div>
          <div>{{ reservation.content }}</div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
