page-customer-history {
   
   
        .label{
            display: flex;
            ion-icon{
                font-size: $font-size-xl;
            }
            div{
                &:first-child{
                    font-size: $font-size-s;
                    font-weight: $font-weight-medium;
                    flex: 9;
                }
            }
            .icon{
                padding-top: .5rem;
              
            }
            
        }
    ion-footer{
        border-top: 1px solid color($colors, danger) !important; 
        button{
            &:hover{
                background: color($colors ,danger);
            }
        }
        button:first-child{
            border-right: 1px solid color($colors, danger); 
        }
    }
}
