
// init
body{
    font-size: 10px;
    font-family: 'Noto Sans KR', sans-serif;

}
ion-app.md{
    font-family: 'Noto Sans KR', sans-serif;
}

.header::after{
    background: none;
}
// init end

ion-header{
    display: flex;
    border-bottom:  .1rem solid color($colors, danger);
    ion-title{
        text-align: center;
    }
    h1{
        margin: 0;
        color: color($colors, dark);
        font-size : $font-size-n;
        font-weight: bold;
    }
    button{
        border: 0;
        background: none !important;
        box-shadow: none !important;
        ion-icon{
            color:  color($colors, danger);
        }
    }
}
//ion-header


ion-content{
    .container{
        padding: 1.6rem;
        width: 100%;
        height: 100%;
    }
    // init
    ul,ol{
        margin: 0;
        padding-left: 2rem;
    }
    padding: 0 !important;
    .scroll-content{
        padding: 0 !important;
    }
    .list-header-md{
        margin-bottom: 0;
    }
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
        border: unset !important;
    }
    // 
    .normal-btn{
        width: 90%;
        margin: 1rem auto;
        border-radius: unset;;
        padding: 1rem 0;
        height: unset;
        .button-inner{
            padding: 1rem 0;
        }
    }
    
    .item-inner{
        border: unset !important;
    }
    
    ion-list{
        width: 100%;
        padding:0 0 1rem 0;
        // border-bottom: 1px solid color($colors, dark); // 영역이 어디까지 잡혀있는지 보여줌
        ion-list-header{
            background: color($colors, primary) !important;
            font-size: $font-size-s !important;
            font-weight: bold;
            border: unset !important;
        }
       
    }
  
}
//ion-content

ion-footer{
    display: flex;
    background: color($colors, secondary);
    bottom: 0;
    // padding: 0 1.5rem;
    .button-md:hover:not(.disable-hover){
        background: color($colors ,danger);
    }
    button{
        
        border-top: .1rem solid color($colors, danger);
        &:hover:not(.disable-hover){
            background: color($colors ,danger);
        }
    }
    .normal-btn{
        width: 100%;
        height: 100%;
        padding: 1rem 0;
        margin: 0;
        border-radius: unset;;
        &.btn-margin{
            padding: 0 1rem;
            margin: 1rem .2rem;
        }
        .button-inner{padding: 1rem 0;}
    }
    &:before{
        background-image: none !important;
    }
}
// ion-footer
.ion-ios-call-outline{
    color: red;
    
}

// 버튼 모양
.outline-dark-btn{
    // border-top: 1px solid color($colors, dark);
    background: color($colors , secondary);
    color: color($colors ,dark)
}
.outline-primary-btn{
    outline: 1px solid color($colors, primary);
    background: color($colors , secondary);
    color: color($colors , primary)
}
.outline-danger-btn{
    outline: 1px solid color($colors, danger);
    background: color($colors , secondary);
    color: color($colors ,danger)
}
.primary-btn{
    background: color($colors, primary);
    color: color($colors, secondary);
}
.danger-btn{
    background: color($colors , danger);
    color: color($colors, secondary);
    &:hover{
        background: color($colors , gray);
        color: color($colors, dark);
}
}
.dark-btn{
    background: color($colors , dark);
    color: color($colors, secondary)
}