page-schedule-list {
    text-align: center;
    .date{
        margin: 1rem 0;
        font: 1rem;
    }
    .date-number{
        font-size: 2rem;
        border-top: 1px solid black;
        .col{
            margin-top: 1rem;
        }
    }
}
