page-schedule-detail {
    .label{
        display: flex;
        div{
            flex: 1
        }
        .right{
            flex: 2;
        }
    }
    .black{
        background: color($colors, dark) !important;
        color: color($colors, secondary);
    }
    .deposit{
        color: red;
        font-weight: bold;
    }
}
