page-schedule-detail {
    ion-content{
        .normal-btn{
            cursor: pointer;
            margin: auto;
        }
    }
    .deposit-btn{
        margin: auto;
        text-align: center;
    }
   
    ion-footer{
        border-top: 1px solid color($colors, danger) !important; 
        button{
            &:hover{
                background: color($colors ,danger);
            }
        }
        button:first-child{
            border-right: 1px solid color($colors, danger); 
        }
    }
    
    .label{
        display: flex;
        div:first-child{
            flex: 1
        }
        .right{
            flex: 2;
        }
    }
    .black{
        background: color($colors, dark) !important;
        color: color($colors, secondary);
    }
    .deposit{
        color: color($colors,danger);
        font-weight: bold;
    }
  
    ion-item{
        div{
            display: flex;
            font-weight: $font-weight-medium;
            span{
                color: color($colors , third);
                padding-right: 1rem;
                font-weight: inherit;
            }
        }
    }
    .img-line{
        display: flex;
        font-weight: $font-weight-medium;
        div{
            flex-direction: column;
            display: flex;
            color: color($colors, third);
            justify-content: center;
            font-weight: inherit;
            strong{
                font-size: $font-size-l;
                color: color($colors, dark);
                padding: .5rem 0;
            }
        }
    }
    .box{
        width: 10rem;
        height: 10rem;
        background: color($colors, danger);
        display: flex;
        align-items: center;
        justify-content: center;
        color: color($colors, secondary);
      h3{
        font-weight: $font-weight-bold;
        font-size: $font-size-xl;
      }
    }
    .first-item{
        .label{
            padding: 1rem 0 2rem;
            font-weight: $font-weight-medium;
            border-bottom: 1px solid color($colors, third)
        }
    }
    ion-icon{
        font-size: $font-size-xl;
    }
    img{
        width: 2rem;
        height: 2rem;
    }
}
