<ion-header>
  <ion-toolbar>
    <button ion-button left navPop>
      <ion-icon name="ios-arrow-back"></ion-icon>
    </button>
    <ion-title>
      <h1>일정예약</h1>
    </ion-title>
    <button ion-button right>
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>


<ion-content padding #content>
  <ion-list>
    <!-- <ion-list-header>
      일정 정보
    </ion-list-header> -->
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="colorThird">제목</ion-label>
          <ion-input type="text" [(ngModel)]="form.title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="colorThird">내용</ion-label>
          <ion-input type="text" [(ngModel)]="form.content"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <div class="floor">
            장소
            <select name="floor" id="selctFloor" [(ngModel)]="form.space">
              <option value="LS" lang="en">LS</option>
              <option value="LLT" lang="en">LLT</option>
              <option value="SV" lang="en">SV</option>
            </select>
          </div>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <div class="manager">
            <div>담당 <span>구지영</span></div>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-list-header>
      예약자 정보
    </ion-list-header>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="colorThird">회사명</ion-label>
          <ion-input type="text" [(ngModel)]="form.company"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="colorThird">예약자명</ion-label>
          <ion-input type="text" [(ngModel)]="form.reservationHolderName"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="colorThird">예약자 전화번호</ion-label>
          <ion-input type="tel" filter="number" max="20" [(ngModel)]="form.reservationHolderPhone"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item>
      <!-- <span> 고객정보 예약자와 동일</span>
        <input type="checkbox" id="info" >
        <label for="info"></label> -->
      <ion-label for="info">고객정보 예약자 정보 동일시 체크</ion-label>
      <ion-checkbox id="info" [(ngModel)]="form.isCustomerInfoSameAsReservationHolder" (ionChange)="dupleCustomer()"></ion-checkbox>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="colorThird">고객명</ion-label>
          <ion-input type="text" [(ngModel)]="form.customerName" [disabled]="form.isCustomerInfoSameAsReservationHolder"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="colorThird">고객 전화번호</ion-label>
          <ion-input type="tel" filter="number" max="20" [(ngModel)]="form.customerPhone" [disabled]="form.isCustomerInfoSameAsReservationHolder"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-list-header>
      일정 정보
    </ion-list-header>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="settime">시작</ion-label>
          <ion-datetime displayFormat="YYYY.MM.DD" [(ngModel)]="form.startDate"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-datetime displayFormat="hh:mm A" [(ngModel)]="form.startTime"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="settime">종료</ion-label>
          <ion-datetime displayFormat="YYYY.MM.DD" [(ngModel)]="form.endDate"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-datetime displayFormat="hh:mm A" [(ngModel)]="form.endTime"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="settime">철수</ion-label>
          <ion-datetime displayFormat="YYYY.MM.DD" [(ngModel)]="form.withdrawDate"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-datetime displayFormat="hh:mm A" [(ngModel)]="form.withdrawTime"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- <ion-list-header>
      기타 사항
    </ion-list-header> -->

  </ion-list>
</ion-content>
<ion-footer>
  <button *ngIf="!is_reservation" ion-button class="normal-btn dark-btn" (click)="send()">예약하기</button>
  <button *ngIf="is_reservation" ion-button class="normal-btn dark-btn" (click)="sendEdit()">예약하기 수정하기</button>
</ion-footer>