page-schedule-reservation {
    body{
       font-weight:  $font-weight-thin !important;
    }
    .label{
        font-size: $font-size-n;
    }
    .text-input-md{
        margin: 0;
    }
    .list-md .item-input:last-child{
        border: none;
        
    }
    .item-input-has-focus:last-child{
        border: none !important;
        box-shadow: none !important;
    }
    .input-wrapper{
        font-size: $font-size-n;
        font-weight: $font-weight-thin;
        
    }
    .colorThird{
        color: color($colors,third) !important;
    }
   .schedule-title{
    font-size: $font-size-n !important;
    font-weight:  $font-weight-thin;
    color: color($colors,dark) !important;
    }
    .col{
        padding: 0;
    }
    .settime{
        color: color($colors,third) !important;
    }
   ion-item{
    .item-inner{
        border-bottom: 1px solid color($colors, secondary) !important;
        padding: 1.6rem 0;
       
       }
    .label{
        font-size: $font-size-n;
        display: flex;
        justify-items: center;
        line-height: 2rem;
        .floor{
            color: color($colors,third);
            flex : 1;
            #selctFloor {
                font-weight: $font-weight-thin;
                line-height: 1.5em;
                padding: 0em 3.5em 0em 1em;
                margin: 0;      
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-appearance: none;
                -moz-appearance: none;
                border: none;
                color: color($colors,dark);
                background-image:
                    linear-gradient(45deg, transparent 50%, color($colors,primary) 50%),
                    linear-gradient(135deg, color($colors,primary) 50%, transparent 50%);
                   
                background-position:
                    calc(100% - 22px) calc(.6em  ),
                    calc(100% - 15px) calc(.6em );
                    
                background-size:
                    6px 7px,
                    7px 7px;
                  
                background-repeat: no-repeat;
                }
        }
        .manager{
            flex: 1;
            padding: 0;
            color: color($colors,third);
            font-weight: $font-weight-thin;
            span{
                font-weight: inherit;
                color: color($colors,dark);
                padding-left: 1rem;

            }
        }
        .time{
            position: relative;
           flex: 1;
            // div:nth-child(2){
            //     font-size: $font-size-n;
            //     color: color($colors, gray);
            // }
            span{
                padding-right: 1rem;
            color: color($colors,third);

            }
            
        }
        .item-content{
            flex: 1;
            div{
                flex: 1;
            }
            // div:nth-child(2){
            //     font-size: $font-size-n;
            //     color: color($colors, gray);
            // }
        }
    }
   }

    .checkbox-icon{
        border-color: color($colors,primary) !important;
        .checkbox-inner{
            border-color: color($colors,primary) !important;
        }
    }
    .datetime-md{
        padding: 0 1rem;
    }
    .datetime-text{
        font-size: $font-size-n;
        font-weight: $font-weight-thin;
    }
   
}