page-customer-list {
    .list{
        margin: 1rem 0;
    }
    ion-label{
        padding: 0 .5rem;
        display: flex !important;
        div{
            &:first-child{
                position: relative;
                top: .5px;
                flex: 1;
            }
            &:nth-child(2){
                flex: 8;
            }
            &:last-child{
                display: flex;
                flex: 1;
                ion-icon{
                    flex : 1;
                    text-align: center;
                    position: relative;
                top: 1px;
                }
            }
        }
    }
    .ion-md-search{
        color:color($colors,primary) !important;
    }
    // .input-wrapper{
    //     border-bottom: .11rem solid color($colors, third)
    // }
}
