page-reservation-list {
    
    ion-item{
        .item-inner{
           
        }
        .label{
            display: flex;
            justify-items: center;
            line-height: 2rem;
            
            .time{
                position: relative;
                border-left: .7rem solid color($colors , danger);
                font-weight: $font-weight-medium;
                padding: .6rem 0 .6rem 1.5rem;
                div:nth-child(2){
                    font-weight: inherit;
                    font-size: $font-size-xs;
                    color: color($colors, third);
                }
            }
            .item-content{
                padding: .6rem 0 .6rem 1.5rem;
                justify-items: center;
                align-items: center;
                flex: 1;
                margin-left: 2.5rem;
                font-weight: $font-weight-medium;
                span{
                    color: color($colors,danger);
                    font-weight: inherit;
                }
                div{
                    flex: 1;
                }
                div:nth-child(2){
                    font-size: $font-size-xs;
                    color: color($colors, third);
                }
            }
        }
    }
    
}
