// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url(' href="https://use.typekit.net/ybd5flm.css"');


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #ffeff5  ,
  secondary:  #ffffff,
  third :     #c0bec0,
  danger:     #ed6ea7,
  gray:       #e0e0e0,
  dark:       #000000
  
);

$font-size-s: 1.2rem;
$font-size-n: 1.4rem;
$font-size-l: 1.8rem;

$font-size-xl : 2.6rem;//아이콘 사이즈
$font-size-base: $font-size-n;

$font-family-md-base: 'Nanum Myeongjo', serif !default;
$font-weight-thin: 300; // 한글 얇은 굵기
$font-weight-normal : 400; // 영어는 폰트가 달라서 굵기 조정 필요.
$font-weight-bold : 600;

$font-weight-extra-bold : 800;
// 폰트 굵기는 300 or 600

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
