page-customer-list {
   
    ion-label{
        padding: 1rem;
        display: flex !important;
        div:first-child{
            flex: 1;
        }
    }
    .input-wrapper{
        border-bottom: .11rem solid color($colors, third)
    }
}
